* {
    padding: 0;
    margin: 0;
    
}

body{
    width: 1000px;
    margin: 5px auto;
    /*margin: green dotted;*/
}

.top-header{
    width: 1000px;
    height: 50px;
    color: #000000;
}

.top-header h1{
    font-family: "Merriweather";
    font-size: 300%;
    text-align: center;
}
/*Header for Directions Page*/

.directions-header{
    top: 0;
    position: fixed;
    width: 1000px;
    height: 50px;
    color: #000000;
    background-color: #ffffff;
}

.directions-header h1{
    font-family: "Merriweather";
    font-size: 300%;
    text-align: center;
}

.wrapper{
    width: 1000px;
    height: 90vh;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.page-wrapper{
    margin-top: 50px;
    width: 1000px;
    height: auto;
    /*height: 90vh;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-panel{
    width: 100px;
    height: 90vh;
    position: fixed;
    /*background-color: #000000;*/
}


.middle-panel{
    width: 800px;
    margin-left: 110px;
    /*background-color: #ffffff;*/
}

.middle-panel img{
    width: 800px;
}

.right-panel{
    width: 100px;
    height: 90vh;
    /*background-color: #000000;*/
}

.left-panel{
    width: 100px;
    height: 90vh;
    position: fixed;
    /*background-color: #000000;*/
}

.left-panel a{
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  color: #000000;
}

.left-panel li{
    list-style-type: none;
}

.directions-right-panel{
    width: 900px;
    height: auto;
    margin-left: 100px;
    padding-left: 20px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    flex: 2;
    align-items: flex-start;
}


.direction-type{
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

.left{
    width: 150px;
    display: flex;
    flex-direction: column;
    Justify-content: space-around;
    flex: 1;
}

.left img{
    width: 100px;
    height: 100px;
}

.left h2{
    width: 100px;
}

.right{
    width: 650px;
    display: flex;
    flex-direction: column;
    /*justify-content: space-around;*/
    vertical-align: bottom;
    padding-top: 25px;
}

.history-right-panel{
    width: 900px;
    height: auto;
    margin-left: 100px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    flex: 2;
    align-items: flex-start;
}

.history-right-panel h2{
    font-family: "oswald";
    font-size: 150%;
    padding-bottom: 10px;
}

.history-right-panel h3{
    font-family: "oswald";
    font-size: 120%;
    padding-bottom: 10px;
}

.history-right-panel p{
    font-family: "josefin";
    font-size: 100%;
    
}


#main-footer {
   bottom: 0; 
   position: fixed;
   width: 1000px;
   /*background-color: #001a00;*/
   background-color: transparent;
   color: #ffffff;
   text-align: center;
    
}

#directions-footer {
   bottom: 0; 
   position: fixed;
   width: 1000px;
   background-color: #262626;
   color: #000000;
   text-align: center;
    
}


