* {
    padding: 0;
    margin: 0;
    
}

body{
    width: 1000px;
    margin: 5px auto;
    /*margin: green dotted;*/
}

.top-header{
    width: 1000px;
    height: 50px;
    color: #000000;
}

.top-header h1{
    font-family: "Merriweather";
    font-size: 300%;
    text-align: center;
}
/*Header for Directions Page*/

.page-header{
    top: 0;
    position: fixed;
    width: 1000px;
    height: 50px;
    color: #000000;
    background-color: #ffffff;
}

.page-header h1{
    font-family: "Merriweather";
    font-size: 300%;
    text-align: center;
}

.wrapper{
    width: 1000px;
    height: 90vh;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.page-wrapper{
    margin-top: 50px;
    width: 1000px;
    height: auto;
    /*height: 90vh;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-panel{
    width: 100px;
    height: 90vh;
    position: fixed;
}

.middle-panel{
    width: 800px;
    height: 90vh;
    margin-left: 110px;
}

.middle-panel img{
    width: 800px;
    height: 600px;
}
/*
.right-panel{
    width: 100px;
    height: 90vh;
    background-color: #80ff80;
}*/

.left-panel a{
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  color: #000000;
}

.left-panel li{
    list-style-type: none;
}

.directions-right-panel{
    width: 900px;
    height: auto;
    margin-left: 100px;
    padding-left: 20px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    flex: 2;
    align-items: flex-start;
}


.direction-type{
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

.left{
    width: 150px;
    display: flex;
    flex-direction: column;
    Justify-content: space-around;
    flex: 1;
}

.left img{
    width: 100px;
    height: 100px;
}

.left h2{
    width: 100px;
}

.right{
    width: 650px;
    display: flex;
    flex-direction: column;
    /*justify-content: space-around;*/
    vertical-align: bottom;
    padding-top: 25px;
}

.history-right-panel{
    width: 850px;
    height: auto;
    margin-left: 100px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    flex: 2;
    align-items: flex-start;
}

.history-right-panel h2{
    font-family: "oswald";
    font-size: 150%;
    padding-bottom: 10px;
}

.history-right-panel h3{
    font-family: "oswald";
    font-size: 120%;
    padding-bottom: 10px;
}

.history-right-panel p{
    display: block;
    font-family: "josefin";
    font-size: 100%;
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 25px;
}



.tickets-right-panel{
    width: 850px;
    height: auto;
    margin-left: 100px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    flex: 2;
    align-items: flex-start;
}

.tickets-right-panel h2{
    font-family: "oswald";
    font-size: 150%;
    padding-bottom: 10px;
}

.tickets-right-panel p{
    display: block;
    font-family: "josefin";
    font-size: 100%;
    margin-bottom: 10px;
    
}





















#main-footer {
   bottom: 0; 
   position: fixed;
   width: 800px;
   height: 25px;
   margin-left: 110px;
   color: #ffffff;
   font-weight: bold;
   font-size: large;
   text-align: center;
    
}

#footers {
   bottom: 0; 
   width: 1000px;
   text-align: center;
}


